// Colors 
$color-theme: #da0000;
// $color-theme: #ff7403;
$color-link: #da0000;
$color-body: #333;
$color-heading: #da0000;
$color-border: #2e344e;
$color-bg-body: hsl(0, 0%, 81%);
$color-bg-dark: #df9100;


// Font Family
// $ff-body: 'Roboto Mono', sans-serif;
// $ff-heading: 'Mulish', sans-serif;
$ff-body: 'Life Savers', sans-serif;
$ff-heading: 'Mystery Quest', sans-serif;


// Font Size
$fz-body: 18px;


// Input Button Height
$input-button-height: 50px;
$transition: all 0.4s ease-out;

// Layouts
$layout-dektop : 'only screen and (min-width: 1920px)';
$layout-desktop-xs: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$layout-laptop : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$layout-notebook: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$layout-tablet : 'only screen and (min-width: 768px) and (max-width: 991px)';
$layout-mobile-lg : 'only screen and (max-width: 767px)';
$layout-mobile-sm : 'only screen and (max-width: 575px)';
$layout-mobile-xs : 'only screen and (max-width: 480px)';
